<h2>Admin - Product Management</h2>
<div *ngIf="error" style="color: red;">{{ error }}</div>
<table >
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Category</th>
    <th>Image</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td>{{ product.id }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.description }}</td>
<!--    <td>{{ product.price | currency }}</td>-->
    <td>{{ product.price }}</td>
    <td>{{ product.category?.name }}</td>
    <td>
      <img *ngIf="product.imageUrl" ngSrc="{{baseUrl+product.imageUrl}}" alt="{{ product.name }}" width="100" height="100">
    </td>
    <td>
      <button (click)="deleteProduct(product.id!)">Delete</button>
      <!-- You can add an Edit button here if needed -->
    </td>
  </tr>
  </tbody>
</table>
<a routerLink="/admin/products/new">Add New Product</a>
